@charset "utf-8";

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
    
    font-size: 100%;
    background-image: url(../images/backgroundnoisepattern.jpg);
    background-size: 20rem;
    hyphens: auto;
    font-family: Arial, "Arial Bold", Sans-Serif;
}

img {
	width: 100%;
    display: block;
}

body {
    margin: 0;
    padding: 0;
}

header {
    overflow: hidden;
    background-color: #333333;
}

.logo {
    height: 6rem;
    background-color: white;
    width: auto;
    margin: 0 auto;
    padding: 1rem;
    overflow: hidden;
}

.billboard {
    height: 24rem;
    background-size: 50rem;
    overflow: hidden;
    background-image: url(../images/billboardimage.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-color: #669999;
}

h1 {
    font-size: 3.4rem;
    text-align: center;
    text-transform: uppercase;
    font-family: "Arial Black", Arial, Sans-Serif;
    opacity: .6;
    margin: 2rem 3%;
}

.headingbox {
    background-color: white;
    overflow: hidden;
    margin: 3rem 5%;
    text-align: center;
    border-radius: .8rem;
    box-shadow: .4rem .4rem .4rem .4rem rgba(0, 0, 0, .5);
    border-style: solid;
    color: #333333;
    padding: 0 2%;
}

h2 {
    font-family: Arial, "Arial Bold", Sans-Serif;
    font-size: 2rem;
    line-height: 2.5rem;
}

.largebodytext {
    font-size: 1.5rem;
    font-weight: bolder;
    margin: 3rem 5%;
    font-family: Arial, "Arial Bold", Sans-Serif;
    background-color: white;
    padding: .5rem 5%;
    line-height: 2rem;
    border-style: solid;
    color: #666666;
}

.largebodytext:first-letter {
    margin:0 0 0 1rem;
}

hr {
    margin: 3rem 10%;
    border-style: inset;
}

footer {
    overflow: hidden;
    background-color: #333333;
    margin: .5rem;
    padding: .5rem 3% 1.5rem;
}

.logofooter{
    height: 3rem;
    background-color: white;
    width: auto;
    padding: .5rem;
    float: right;
}

footer p {
    overflow: hidden;
    line-height: 1.5rem;
    padding: 1rem 5%;
}

figure {
    margin: 3rem 10% 3rem;
    border-style: solid;
    background-color: #669999;
    padding: .5rem;
}

figcaption {
    text-align: center;
    font-family: Arial, "Arial-Bold", Sans-Serif;
    margin: .5rem 5% 0;
    font-size: 1.5rem;
}

.dropcap {
    margin: 3rem 10% 3rem;
    background-color: white;
    padding: .5rem 5%;
    line-height: 1.5rem;
    border-style: solid;
    font-size: 1rem;
    font-family: Arial, "Arial Bold", Sans-Serif;
}

.dropcap:first-letter {
    font-size: 3rem;
    color: #ff0000;
    float: left;
    margin: 1rem 2% 0;
}

.earlycareer {
    font-size: 1rem;
    font-family: Arial, "Arial Bold", Sans-Serif;
    margin: 3rem 7%;
    background-color: white;
    padding: .5rem 5%;
    line-height: 1.5rem;
    border-style: solid;
}

.movielist {
    font-size: 1rem;
    font-family: Arial, "Arial Bold", Sans-Serif;
    margin: 3rem 15%;
    background-color: white;
    padding: 1rem;
    line-height: 1.5rem;
    border-style: solid;
}

div span {
    font-weight: bold;
}

blockquote {
    margin: 6rem 15% 1rem;
    font-size: 2.5rem;
    line-height: 3rem;
    color: white;
    text-align:center;
    text-shadow: rgba(0, 0, 0, .2) .3rem .3rem;
}
    
blockquote p:before {
    content: "“";
    font-size: 6rem;
    margin: 1rem 0 0 -3rem; 
}

blockquote p:after {
    content: "”";
    font-size: 3rem;
}

.quote {
    color: white;
    text-align: center;
}

em {
    color: #ff0000;
}

a:link { 
    color: white;
}

a:visited {
    color: #ff0000;
}

footer p {
    color: #ffff00;
}

figcaption span {
    color: #000000;
}

.recentprojects {
    font-size: 1rem;
    font-family: Arial, "Arial Bold", Sans-Serif;
    margin: 3rem 7%;
    background-color: white;
    padding: .5rem 5%;
    line-height: 1.5rem;
    border-style: solid;
}    