@charset "utf-8";

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
    
    font-size: 100%;
}

img {
	width: 100%;
    display: block;
}

body {
    margin: 0;
    padding: 0;
}

header {
    overflow: hidden;
    background-color: grey;
    }

.logo {
    height:6rem;
    background-color:white;
}
.billboard {
    height: 17rem;
    background-size: 50rem;
    overflow: hidden;
    background-image: url(../images/mallickbillboard.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-color: #669999;
}
h1 {
    font-size: 3.4rem;
    text-align: center;
    text-transform:uppercase;
    font-family: "Arial Black", Arial, Sans-Serif;
    opacity: .6;
    margin: 2rem 3%;
}

.headingbox {
    background-color: white;
    overflow:hidden;
    margin: 1rem 5%;
    text-align: center;
    border-radius: .8rem;
    box-shadow: .2rem .4rem .4rem .2rem rgba(0, 0, 0, .8);
    border-style:solid;
    font-family: Arial, "Arial Bold", Sans-Serif
}

div + p {
    font-size: 1.5rem;
    margin: 1rem 5% 1rem;
    
    
    
    
    
    
    
        
    
    